.searchPage_header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}
.searchPage_logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage_headerBody > .search > .search_input {
  margin-top: 0;
  width: unset;
  margin: unset;
  min-width: unset;
}

.searchPage_options {
  display: flex;
  align-items: center;
  color: gray;
}

.searchPage_optionsLeft,
.searchPage_optionsRight {
  display: flex;
}

.searchPage_optionsLeft a,
.searchPage_optionsRight a {
  text-decoration: none;
  color: gray;
}

.searchPage_optionsRight {
  margin-left: 80px;
}

.searchPage_option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchPage_option a {
  margin-left: 5px;
}

.searchPage_result {
  margin: 40px 0px;
}
.searchPage_resultCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage_results {
  min-width: 650px;
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom: 100px;
}

.searchPage_resultLink {
  display: flex;
  align-items: center;
}

.searchPage_resultTitle {
  text-decoration: none;
}
.searchPage_resultTitle:hover {
  text-decoration: underline;
}

.searchPage_resultTitle > h2 {
  color: #0066c0;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.searchPage_resultSnippets {
  margin-top: 10px;
}

.searchPage_resultImage {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
